header .name-bus {
  text-align: center;
}

section div.bus-info div.flexbox {
  display: inline;
  padding-bottom: 20px;
}
section div.bus-info div.flexbox div.bus {
  display: inline;
}
section div.bus-info div.specification {
  display: inline-block;
  position: absolute;
  padding-top: 96px;
  padding-left: 15px;
}
section div.bus-info div.specification p {
  font-weight: 600;
}
section .list-info {
  display: block;
  padding-left: 2rem;
}
section .list-info ol {
  margin-top: 20px;
}
section .list-info ol li {
  padding-bottom: 20px;
}

footer.container {
  margin-top: 170px;
}
